PerchReadyApp/server/java/resources/nodered/deleteOldDBEntries.json
[
  {
    "id": "bd3e9569.42c168",
    "type": "subflow",
    "name": "(cloudant) deleteByPin",
    "in": [
      {
        "x": 44,
        "y": 236,
        "wires": [
          {
            "id": "e0001a9a.1fffe8"
          }
        ]
      }
    ],
    "out": []
  },
  {
    "id": "a259c34a.5da64",
    "type": "function",
    "name": "DocToDelete",
    "func": "//\tThis method is executed for every returned array from getAllForPin().\n//\tIt then generates the url to delete each document from the cloudant database.\n\nvar newmsg = {};\n\nif (msg.docId == null || msg.docRev == null)\n\treturn null;\nelse {\n\n\tnewmsg.url = context.global.cloudantDBURL + msg.docId + \"?rev=\" + msg.docRev; \n\tnewmsg.method = \"DELETE\";\n\tnewmsg.headers = { 'IBM-Application-Secret' : context.global.appSecret};\n\tnewmsg.payload = {};\n\t\n\treturn newmsg;\n}\n",
    "outputs": 1,
    "x": 816.1428833007812,
    "y": 236.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": [
      [
        "ee5ba3da.11a46",
        "31eee94e.ce1116"
      ]
    ]
  },
  {
    "id": "31eee94e.ce1116",
    "type": "http request",
    "name": "sendDeleteDoc",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1054.1428833007812,
    "y": 235.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": [
      [
        "b4eeff27.4b11"
      ]
    ]
  },
  {
    "id": "b4eeff27.4b11",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 1214.1428833007812,
    "y": 165.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": []
  },
  {
    "id": "e0001a9a.1fffe8",
    "type": "function",
    "name": "searchForPin",
    "func": "//\tThis method takes in a device pin as an input (msg.device_pin)\n//\tand prepares the url for the GET request. It gets all the device\n//\tinstance and sensor data documents associated with that device pin. \n\nvar newmsg = {};\nnewmsg.device_pin = msg.device_pin;\nnewmsg.url = context.global.cloudantDBURL + \"/\" + context.global.cloudantDBName\n            + \"/_design/library/_view/delete_view_by_pin?key=\\\"\" \n\t\t\t+ newmsg.device_pin  +\"\\\"&limit=\" + context.global.queryLimit; \nnewmsg.method = \"GET\";\n//clearing the payload from unnecessary data\nnewmsg.payload = {} ; \n\n\nreturn  newmsg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 192.14288330078125,
    "y": 235.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": [
      [
        "ffcc39cc.0033c8",
        "71c61919.8e39e8"
      ]
    ]
  },
  {
    "id": "71c61919.8e39e8",
    "type": "http request",
    "name": "sendGetViewByPin",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 415.14288330078125,
    "y": 236.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": [
      [
        "9379f504.6c8608",
        "44b46a43.bb4b94"
      ]
    ]
  },
  {
    "id": "44b46a43.bb4b94",
    "type": "function",
    "name": "getAllForPin",
    "func": "//\tThis method parses results from the GET request.\n\nvar result = JSON.parse(msg.payload); \nvar retData = []; \n//\tFor all the rows in the results, extract the document id and rev\nfor (i = 0; i < result.rows.length; i++){\n\tvar jsonIdRev = {};\n\tjsonIdRev.docId = result.rows[i].value._id;\t\t\n\tjsonIdRev.docRev = result.rows[i].value._rev;\n\t//add each pair to the return array\n\tretData.push(jsonIdRev);\t\n}\n\n//\treturning an array of arrays since each returned array \n//\tis considered as a separate message going into the rest of the flow\nreturn [retData]; \n\n",
    "outputs": "1",
    "x": 629.1428833007812,
    "y": 236.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": [
      [
        "a259c34a.5da64",
        "dca553a3.235ab"
      ]
    ]
  },
  {
    "id": "dca553a3.235ab",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 778.1428833007812,
    "y": 169.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": []
  },
  {
    "id": "ffcc39cc.0033c8",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 377.14288330078125,
    "y": 168.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": []
  },
  {
    "id": "ee5ba3da.11a46",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 978.1428833007812,
    "y": 170.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": []
  },
  {
    "id": "9379f504.6c8608",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 578.1428833007812,
    "y": 169.14285278320312,
    "z": "bd3e9569.42c168",
    "wires": []
  },
  {
    "id": "aed10ec6.512ef",
    "type": "function",
    "name": "getSensorDataByTime",
    "func": "//\tThis method gets the sensor_data_by_time view from cloudant\n//\tfiltering by only 'old' entries based on the days parameter \n//\tspecified in method numberOfDaysOld()\n\nmsg.url =   context.global.cloudantDBURL + \"/\" + context.global.cloudantDBName\n\t\t\t+ \"/_design/library/_view/sensor_data_by_time?&startkey=\"\n\t\t\t+ msg.startTime + \"&endkey=\" + msg.endTime + \"&limit=\" + context.global.queryLimit; \nmsg.method = \"GET\";\n\nreturn  msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 624.8147583007812,
    "y": 243.14813232421875,
    "z": "71218647.8ede78",
    "wires": [
      [
        "62edbaf5.9d1244",
        "277bd598.d8842a"
      ]
    ]
  },
  {
    "id": "62edbaf5.9d1244",
    "type": "http request",
    "name": "sendGetSensorDataByTime",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 893.8147583007812,
    "y": 243.14813232421875,
    "z": "71218647.8ede78",
    "wires": [
      [
        "bc0c6765.43f398",
        "7fee86d2.801178"
      ]
    ]
  },
  {
    "id": "7fee86d2.801178",
    "type": "function",
    "name": "getPinsForOldEntries",
    "func": "//\tThis method will return all the device pins that need to be deleted\nvar result = JSON.parse(msg.payload); \nvar retData = []; \nvar dataSet = []; \n\n//\tFor all the rows in the results, extract the associated pin\nfor (i = 0; i < result.rows.length; i++){\n\tvar devicePin = result.rows[i].value.devicePin;\t\n\t//add each unique pin to the retData array\n\tvar index = retData.indexOf(devicePin); \n\t//don't add the test pin '0000' onto the list to be deleted\n\tif(index < 0  && devicePin != \"0000\"){ \n\t\tretData.push(devicePin);\t\n\t\tindex = retData.indexOf(devicePin); \n\t\tdataSet.push({device_pin:retData[index]});\n\t}\n}\n\n//\treturning an array of arrays since each returned array \n//\tis considered as a separate message going into the rest of the flow\nreturn [dataSet]; \n\n",
    "outputs": "1",
    "noerr": 0,
    "x": 1170.8147583007812,
    "y": 243.14813232421875,
    "z": "71218647.8ede78",
    "wires": [
      [
        "657588c0.9a8a78"
      ]
    ]
  },
  {
    "id": "277bd598.d8842a",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 774.8147583007812,
    "y": 128.14813232421875,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "bc0c6765.43f398",
    "type": "debug",
    "name": "DEBUG",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 1072.8147583007812,
    "y": 128.14813232421875,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "2004b0ea.dffb5",
    "type": "inject",
    "name": "CleanUp",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "7200",
    "crontab": "",
    "once": true,
    "x": 196.31475830078125,
    "y": 243.14813232421875,
    "z": "71218647.8ede78",
    "wires": [
      [
        "d746a4d.f28b958"
      ]
    ]
  },
  {
    "id": "d746a4d.f28b958",
    "type": "function",
    "name": "numberOfDaysOld",
    "func": "//This method gets the number of days.\n//All the sensor data before these days will be deleted.\n//var dayTest = 0.2;\n\nvar daysInSeconds = context.global.days * 86400; //dayTest\n\nvar currTime = new Date().getTime(); \n\nmsg.startTime = 0;\nmsg.endTime = currTime - daysInSeconds; \n\nreturn msg;",
    "outputs": 1,
    "x": 389.81475830078125,
    "y": 243.14813232421875,
    "z": "71218647.8ede78",
    "wires": [
      [
        "88a74d61.7758b",
        "aed10ec6.512ef"
      ]
    ]
  },
  {
    "id": "88a74d61.7758b",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 529.8147583007812,
    "y": 128.14813232421875,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "657588c0.9a8a78",
    "type": "subflow:bd3e9569.42c168",
    "name": "",
    "x": 1433.624252319336,
    "y": 242.91004753112793,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "a145c255.5eba4",
    "type": "inject",
    "name": "deleteInactiveIOTDevices",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "10800",
    "crontab": "",
    "once": true,
    "x": 238.41270446777344,
    "y": 435.5555725097656,
    "z": "71218647.8ede78",
    "wires": [
      [
        "526ee24a.ad911c"
      ]
    ]
  },
  {
    "id": "526ee24a.ad911c",
    "type": "function",
    "name": "setupGetAllIOTDevices",
    "func": "\n\nmsg.url =   \"https://\" + context.global.iotApiKey + \":\" + context.global.iotAuthToken\n\t\t\t+ \"@\" + context.global.iotURL + \"/\" + context.global.iotOrganizationId \n\t\t\t+ \"/devices/\" ;// + context.global.iotDeviceType;\nmsg.method = \"GET\";\n\nreturn  msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 471.4127197265625,
    "y": 435.555588722229,
    "z": "71218647.8ede78",
    "wires": [
      [
        "aba2ddf9.545d2",
        "e096e8d6.1f6918"
      ]
    ]
  },
  {
    "id": "aba2ddf9.545d2",
    "type": "http request",
    "name": "sendgetAllIOTDevices",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 741.4127349853516,
    "y": 435.55558156967163,
    "z": "71218647.8ede78",
    "wires": [
      [
        "22499ac7.ddb666",
        "8de23715.721dc8"
      ]
    ]
  },
  {
    "id": "22499ac7.ddb666",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 965.5556182861328,
    "y": 373.4127130508423,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "e096e8d6.1f6918",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 692.6984367370605,
    "y": 374.12700748443604,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "8de23715.721dc8",
    "type": "function",
    "name": "getInactiveDevicesToDelete",
    "func": "var result = JSON.parse(msg.payload); \nvar devicesToDelete = [] ;\nvar currTime = new Date().getTime() ;\nvar dayInMillis = 86400000;\nmsg.timeRange = currTime - (dayInMillis * 0.2) ; //0.2 days old for testing\nvar deviceDate;\n\n  \nfor(index in result){\n\tdeviceDate = result[index].registration.date;\n\tmsg.deviceDate = Date.parse(deviceDate) ;\n\tif(msg.deviceDate < msg.timeRange){\n\t\tdevicesToDelete.push({id:result[index].id});\n\t}\n}\n\n\nreturn [devicesToDelete]; ",
    "outputs": 1,
    "x": 1007.6984252929688,
    "y": 435.1269998550415,
    "z": "71218647.8ede78",
    "wires": [
      [
        "e5eaf5.ff1a1508",
        "276f4d8f.d890b2"
      ]
    ]
  },
  {
    "id": "e5eaf5.ff1a1508",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 1247.698444366455,
    "y": 374.1270070075989,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "276f4d8f.d890b2",
    "type": "function",
    "name": "setupDeleteInactiveIOTDevices",
    "func": "\n\nmsg.url =   \"https://\" + context.global.iotApiKey + \":\" + context.global.iotAuthToken\n\t\t\t+ \"@\" + context.global.iotURL + \"/\"  + context.global.iotOrganizationId \n\t\t\t+ \"/devices/\" + context.global.iotDeviceType + \"/\" + msg.id;\nmsg.method = \"DELETE\";\n\nreturn  msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1321.9841918945312,
    "y": 434.9841775894165,
    "z": "71218647.8ede78",
    "wires": [
      [
        "926733d9.6d98d",
        "4bf1c431.b40e3c"
      ]
    ]
  },
  {
    "id": "4bf1c431.b40e3c",
    "type": "http request",
    "name": "sendDeleteInactiveIOTDevices",
    "method": "use",
    "ret": "txt",
    "url": "",
    "x": 1631.9842071533203,
    "y": 433.98417043685913,
    "z": "71218647.8ede78",
    "wires": [
      [
        "2726c2ad.d8d93e"
      ]
    ]
  },
  {
    "id": "926733d9.6d98d",
    "type": "debug",
    "name": "DEBUG",
    "active": false,
    "console": "true",
    "complete": "true",
    "x": 1559.2698974609375,
    "y": 372.555588722229,
    "z": "71218647.8ede78",
    "wires": []
  },
  {
    "id": "2726c2ad.d8d93e",
    "type": "debug",
    "name": "DEBUG",
    "active": true,
    "console": "true",
    "complete": "true",
    "x": 1855.1984558105469,
    "y": 373.05559635162354,
    "z": "71218647.8ede78",
    "wires": []
  }
]